@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Danfo&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .Alexandria {
    font-family: "Alexandria";
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
