@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Danfo&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .Alexandria {
    font-family: "Alexandria";
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h3,
  h4,
  h5 {
    color: #ffffff;
    font-family: "Alexandria";
    margin-top: 3rem;
    margin-bottom: 5px;
  }

  h2 {
    color: #ffffff;
    font-family: "Alexandria";
    padding-bottom: 10px;
  }

  h3 {
    color: #d19ff1;
    font-weight: 700;
    font-size: x-large;
  }
  p {
    color: #ffffff;
    font-family: "Alexandria";
    font-weight: 300;
  }
}
