---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Dots from '../components/Dots.astro'
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Titel">
	<article class="mx-3">
		<section class="mt-[100px]">
			<svg class="w-80 md:w-[700px] lg:w-[900px]" width="900" height="auto" viewBox="0 0 1183 236" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_21_78)">
			<path d="M165.084 8.55327C160.022 9.41855 154.96 10.2838 149.897 11.1534C154.704 27.5158 159.506 43.8825 164.313 60.2449L106.174 93.6922C113.594 84.0963 121.01 74.496 128.43 64.9001C126.432 66.0769 124.434 67.258 122.44 68.4348C110.279 64.8222 98.1214 61.2097 85.9597 57.5972C75.0072 82.3484 64.0548 107.104 53.1023 131.855C55.3864 129.212 57.6705 126.573 59.9546 123.929C72.06 136.441 84.1697 148.953 96.275 161.465L139.526 128.312C145.975 142.053 152.429 155.789 158.878 169.529L98.5678 216.064C73.5856 222.709 48.5991 229.355 23.6169 236.004C28.948 232.755 34.279 229.506 39.61 226.261C26.4038 195.972 13.2019 165.688 0 135.399L31.9559 50.7485L86.4148 12.6374C112.641 11.2746 138.863 9.91608 165.089 8.55327H165.084Z" fill="white"/>
			<path d="M198.618 53.3184C201.726 75.3137 204.833 97.3134 207.945 119.309C206.827 116.86 205.713 114.416 204.595 111.967C192.208 136.783 179.816 161.595 167.429 186.411C182.959 196.794 198.488 207.178 214.017 217.561C214.078 222.419 214.134 227.278 214.195 232.141C222.465 196.898 230.734 161.655 239.004 126.413L279.884 111.24C275.632 148.464 271.38 185.688 267.124 222.913C282.619 211.154 298.113 199.394 313.608 187.635C319.927 179.696 326.246 171.762 332.57 163.823C325.028 140.828 317.483 117.829 309.941 94.8344C318.709 79.7742 327.473 64.7141 336.241 49.6539C325.657 40.1878 315.069 30.7217 304.484 21.2555C301.988 15.8216 299.492 10.3877 296.995 4.95371L277.405 82.5171C277.34 80.0208 277.275 77.5288 277.214 75.0325C265.685 78.9652 254.156 82.8935 242.627 86.8262L239.411 0C238.375 2.7213 237.344 5.44692 236.308 8.16822L198.622 53.3184H198.618Z" fill="white"/>
			<path d="M524.665 22.5145C528.822 23.5788 532.978 24.6431 537.135 25.7117C544.139 34.4943 551.147 43.2768 558.151 52.0594L536.064 173.951C529.762 186.973 523.46 200 517.163 213.023C549.231 210.141 581.3 207.256 613.368 204.374C624.16 209.977 634.957 215.575 645.749 221.178C642.758 218.188 639.768 215.203 636.773 212.214C649.676 187.934 662.574 163.65 675.477 139.37C660.958 146.595 646.438 153.816 631.919 161.041C615.661 161.876 599.404 162.711 583.142 163.546C585.92 162.776 588.698 162.01 591.476 161.24C589.591 147.599 587.706 133.954 585.82 120.312L625.894 6.1651C621.395 10.405 616.892 14.6448 612.393 18.8847C583.15 20.0917 553.908 21.3031 524.661 22.5102L524.665 22.5145Z" fill="white"/>
			<path d="M830.87 40.8541C828.763 61.7245 826.661 82.595 824.555 103.466C816.749 92.3251 808.943 81.1846 801.137 70.0442C789.947 65.1683 778.756 60.2968 767.565 55.421C760.002 59.159 752.439 62.897 744.875 66.6307C746.67 66.8859 748.46 67.1412 750.254 67.3964C749.513 76.5857 748.776 85.7792 748.035 94.9685C761.397 92.2039 774.764 89.4437 788.126 86.6791L841.098 128.1L825.847 190.011C831.182 189.5 836.517 188.994 841.853 188.483C803.855 201.848 765.857 215.207 727.859 228.572C715.134 214.731 702.414 200.891 689.688 187.051L675.481 124.998C688.258 138.293 701.04 151.592 713.821 164.887C732.913 165.822 752.001 166.756 771.093 167.695C773.412 162.04 775.73 156.386 778.049 150.731C780.476 153.829 782.899 156.931 785.326 160.029C779.514 150.653 773.702 141.278 767.89 131.899C753.219 133.439 738.552 134.979 723.881 136.519C713.509 120.944 703.137 105.369 692.77 89.7941C689.233 90.9925 685.701 92.1866 682.164 93.385C695.626 72.6011 709.088 51.8171 722.55 31.0332L790.592 19.3216C791.277 16.4186 791.958 13.5156 792.642 10.6126C805.385 20.6888 818.132 30.7649 830.874 40.8454L830.87 40.8541Z" fill="white"/>
			<path d="M1169.97 185.823C1161.14 164.641 1152.31 143.459 1143.47 122.277C1146.58 100.926 1149.7 79.5709 1152.81 58.2202C1150.84 61.6467 1148.88 65.0775 1146.92 68.504C1153.52 50.1039 1160.12 31.6994 1166.72 13.2993C1141.29 20.1566 1115.86 27.014 1090.44 33.867C1090.66 28.6623 1090.87 23.4533 1091.09 18.2487C1075.42 64.8655 1059.74 111.482 1044.07 158.103C1038.52 161.647 1032.97 165.19 1027.42 168.733C1024.67 186.182 1021.91 203.626 1019.16 221.074C1038.98 207.039 1058.81 193 1078.64 178.965C1083.46 163.659 1088.28 148.356 1093.1 133.054C1097.96 131.868 1102.82 130.687 1107.68 129.502C1108.08 149.693 1108.49 169.88 1108.89 190.071C1123.51 203.799 1138.13 217.526 1152.75 231.254L1183 169.707C1178.66 175.076 1174.31 180.449 1169.97 185.818V185.823ZM1112.23 99.8703C1107.66 100.627 1103.1 101.385 1098.54 102.142C1096.59 104.616 1094.63 107.095 1092.68 109.57C1100.38 94.0426 1108.08 78.5153 1115.79 62.9835C1114.6 75.2791 1113.41 87.5747 1112.23 99.8703Z" fill="white"/>
			<path d="M869.327 45.5655L883.509 132.677C875.772 165.268 868.04 197.854 860.304 230.445C872.14 226.188 883.981 221.926 895.818 217.669C934.869 216.843 973.92 216.016 1012.97 215.19C1003.14 199.152 993.298 183.11 983.463 167.072L984.976 175.712C961.377 179.069 937.781 182.431 914.182 185.788C919.439 173.947 924.696 162.105 929.954 150.268C942.198 150.052 954.438 149.836 966.682 149.615C965.702 134.023 964.722 118.43 963.743 102.838L923.244 119.287C922.356 105.642 921.467 91.9963 920.583 78.3508C918.763 79.2421 916.942 80.129 915.122 81.0202C919.569 76.2872 924.016 71.5541 928.463 66.821C947.264 67.2753 966.07 67.7252 984.872 68.1795C992.084 52.2541 999.296 36.3287 1006.51 20.4076C996.982 24.7729 987.455 29.1382 977.924 33.5035C950.931 34.0011 923.942 34.4943 896.949 34.9918C881.797 28.0306 866.64 21.0695 851.488 14.1083C855.462 17.4613 859.441 20.8142 863.415 24.1715C865.383 31.3014 867.351 38.4356 869.319 45.5655H869.327Z" fill="white"/>
			<path d="M363.789 42.8875L377.971 129.999C370.234 162.59 362.502 195.176 354.765 227.767C366.602 223.51 378.443 219.248 390.28 214.991C429.331 214.165 468.381 213.338 507.432 212.512C497.598 196.474 487.76 180.432 477.925 164.394L479.438 173.034C455.838 176.391 432.243 179.753 408.644 183.11C413.901 171.269 419.158 159.427 424.416 147.59C436.66 147.374 448.899 147.158 461.143 146.937C460.164 131.345 459.184 115.752 458.205 100.16L417.706 116.609C416.818 102.964 415.929 89.3182 415.045 75.6728C413.225 76.5641 411.404 77.451 409.584 78.3422C414.031 73.6091 418.478 68.8761 422.925 64.143C441.726 64.5973 460.532 65.0472 479.334 65.5015C486.546 49.5761 493.758 33.6506 500.974 17.7295C491.444 22.0949 481.917 26.4602 472.386 30.8255C445.393 31.323 418.404 31.8162 391.411 32.3138C376.259 25.3526 361.102 18.3915 345.95 11.4303C349.924 14.7833 353.903 18.1362 357.877 21.4935C359.845 28.6234 361.813 35.7576 363.781 42.8875H363.789Z" fill="white"/>
			</g>
			<defs>
			<clipPath id="clip0_21_78">
			<rect width="1183" height="236" fill="white"/>
			</clipPath>
			</defs>
			</svg>
			<h2 class="uppercase text-4xl md:text-7xl text-[#d19ff1] -translate-y-6">Typeface</h2>
		</section>
		<section class="flex justify-self-center text-center mt-[140px] w-72 md:w-[400px] lg:w-[600px]">
			<Dots class="">			
				<p>Inspired by <span class="text-[#9F61BC]">90s graffiti</span>, this typeface brings raw street energy to your designs. Dynamic and <span class="text-[#9F61BC]">unapologetic</span>, it doesn’t just speak — it shouts.</p>
			</Dots>
		</section>
		<section class="w-[260px] md:w-[400px] lg:w-[500px] flex flex-row justify-self-center justify-center mt-20">
			<svg width="600" height="auto" viewBox="0 0 687 900" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M641.649 124.873C632.951 211.052 624.27 297.231 615.572 383.41C583.34 337.408 551.107 291.407 518.874 245.406C472.664 225.272 426.453 205.157 380.243 185.024C349.012 200.459 317.782 215.894 286.551 231.311C293.961 232.365 301.352 233.419 308.762 234.473C305.701 272.417 302.659 310.379 299.598 348.324C354.775 336.908 409.97 325.511 465.147 314.095L683.886 485.131L620.906 740.773C642.937 738.665 664.969 736.575 687 734.467C530.096 789.65 373.191 844.816 216.287 900C163.741 842.851 111.213 785.702 58.6669 728.554L0 472.322C52.7608 527.22 105.539 582.135 158.318 637.033C237.155 640.892 315.974 644.751 394.811 648.627C404.386 625.278 413.961 601.929 423.536 578.58C433.559 591.371 443.563 604.18 453.585 616.971C429.585 578.259 405.585 539.546 381.585 500.816C321.003 507.176 260.439 513.535 199.858 519.895C157.03 455.583 114.202 391.27 71.3918 326.958C56.7877 331.906 42.2016 336.837 27.5975 341.785C83.186 255.964 138.774 170.142 194.363 84.3209L475.33 35.9614C478.158 23.9743 480.968 11.9871 483.796 0C536.413 41.6066 589.049 83.2133 641.667 124.838L641.649 124.873Z" fill="white"/>
			</svg>				
		</section>
		<section class="mt-[100px]">
			<Dots class="">
				<div class="flex flex-col md:flex-row mx-auto w-72 md:w-[600px] lg:w-[800px] gap-10">
					<div class="flex flex-col mx-auto gap-10">
						<img class="w-72 md:w-[280px] lg:w-[380px]" src="1img.webp" alt="mockup lyserød baggrund">
						<img class="w-72 md:w-[280px] lg:w-[380px]" src="2img.webp" alt="mockup blå baggrund">
					</div>
					<div class="w-72 md:w-64 pb-10">
						<h3 class="uppercase">using the font</h3>
						<p class="md:w-[300px]">Rebellious simplicity meets urban edge. This typeface channels <span class="text-[#9F61BC]">90s graffiti’s spirit</span> in a clean, versatile form. </p><br>
						<p><span class="text-[#9F61BC]">Ideal</span> for projects that need a hint of attitude without sacrificing clarity.</p>
					</div>
				</div>
			</Dots>
		</section>
		<section class="mt-[100px] pb-10">
			<Dots>
				<div class=" w-72 md:w-[600px] lg:w-[800px] md:flex md:flex-row md:gap-10 lg:gap-24">
					<div class="w-72 pb-10">
						<h3 class="uppercase">sketching and process</h3>
						<p>Starting with bold, gritty hand-drawn sketches inspired by 90s graffiti, each character was scanned and refined in <span class="text-[#9F61BC]">Illustrator</span> to maintain a raw, street-art feel.</p> <br>
						<p>Converted to SVG for sharp, scalable use, the typeface was tested and adjusted to ensure it held its <span class="text-[#9F61BC]">rebellious energy</span> across both digital and print formats.</p>
					</div>
					<div class="w-[240px] md:w-[300px] flex justify-self-center mb-12">
						<img src="skitse.webp" alt="">
					</div>
				</div>
			</Dots>
		</section>
	</article>
</MainLayout>