---
---
<div>
    <section id="Layer_1" class="w-28 md:w-36 flex justify-self-end pr-5 pt-5">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 242.66 113.71">
        <defs>
            <style>
            .cls-1 {
                fill: #d19ff1;
            }
        
            .cls-2 {
                fill: none;
                stroke: #d19ff1;
                stroke-miterlimit: 10;
                stroke-width: 4px;
            }
            </style>
        </defs>
        <path class="cls-2" d="M53.41,6.84c-9.16,14.97-18.32,29.93-27.48,44.9-7.48,3.19-14.95,6.38-22.43,9.57,8.05,8.09,16.1,16.17,24.16,24.26l-3.45,24.6,35.54-15.37c10.21,1.52,20.43,3.05,30.64,4.57.94,3.49,1.89,6.98,2.83,10.46,5.73-2.49,11.46-4.98,17.2-7.47,19,2.83,38,5.67,57,8.5-4.15-4.14-8.29-8.29-12.44-12.43,20.82.5,41.65,1,62.47,1.49-6.33-2.62-12.65-5.24-18.98-7.86,13.34-13.78,26.69-27.56,40.03-41.34-9.55-1.37-19.09-2.73-28.64-4.1-16.33-11.62-32.67-23.23-49-34.85-12.54,3.3-25.08,6.61-37.61,9.91l-32.78-8.88c2.99,3.08,5.98,6.15,8.97,9.23-15.18,1.71-30.37,3.42-45.55,5.13-.16-6.77-.31-13.53-.47-20.3h0Z"/>
        <path class="cls-1" d="M72.98,52.41h7.14l6.02,12.45,5.98-12.45h7.14v22.43h-5.86v-13.31l-5.12,11.1h-4.32l-5.12-11.1v13.31h-5.86v-22.43ZM103.04,52.41h18.34v5.12h-11.68v3.52h10.59v5.12h-10.59v3.55h12v5.12h-18.66v-22.43ZM124.89,52.41h5.66l11.3,14.85-1.76.61v-15.46h6.08v22.43h-5.66l-11.26-14.78,1.76-.61v15.39h-6.11v-22.43ZM156.26,65.56c0,1.28.37,2.3,1.12,3.07.75.75,1.64,1.12,2.69,1.12s1.94-.37,2.62-1.12c.68-.77,1.02-1.79,1.02-3.07v-13.15h6.66v13.15c0,1.96-.43,3.68-1.28,5.15-.83,1.45-2.03,2.58-3.58,3.39-1.54.79-3.35,1.18-5.44,1.18s-3.96-.39-5.54-1.18c-1.56-.81-2.77-1.94-3.65-3.39-.85-1.47-1.28-3.19-1.28-5.15v-13.15h6.66v13.15Z"/>
        </svg>
    </section>
</div>

<style>
    #Layer_1:hover .cls-2 {
    fill: #d19ff1;        
    }

    #Layer_1:hover .cls-1{
    fill:#00001D;
}
</style>